# Ignore build artifacts and output files
build/
*.bin
*.elf
*.log
*.lst
*.map
*.partitions
*.bin
*.size
*.csv

# Ignore Eclipse project files
.project
.settings/

# Ignore Visual Studio Code settings
.vscode/

# Ignore temporary files
*.swp
*~

# Ignore IDF tools output
sdkconfig

# Ignore Python virtual environment
venv/
